.poster-movie {
  vertical-align: top;
  height: 100px;
}

/* index */

img {
  width: 100%;
}

.bg {
	background-position:center bottom;
	background-repeat:no-repeat;
  background-size:cover;
  height: 100vh;
}

.bg-gif {
  background-image: url('../assets/images/fondo-inicial.gif')
}

.bg-login {
  background-image: url('../assets/images/fondo-login.png');
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Carousel */

.img-height-corousel {
  height: 450px;
}

/* home */

li {
  list-style: none;
  display: inline-block;
}

.opacity {
  background: rgba(0,0,0, .5) 
}

.dropdown-toggle::after {
  display: none;
}

/* poster de peliculas */

.w-h-example {
  background-color: #A57;
  height: 300px;
  margin: 25px 15px 25px 15px;
}

/* imagenes de los logos */

.logo {
  padding-left: 0;
}

/* iconos */
span.fa {
  font-size: 20px;
}

/* imagen de ejemplo */

.wh-user-example {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  
}

/* Colores */

.yellow-text {
  color: yellow;
}

.black-text {
  color: black;
}


/*  */

div.form-check {
  margin-bottom: 5px;
}